/zsh/.oh-my-zsh
.idea
.mypy_cache
*__pycache__
hyprland/.config/hypr/colors/
hyprland/.config/hypr/current_wallpaper
hyprland/.config/hypr/scripts/resources/
hyprland/.config/waybar/colors/
rofi/.config/rofi/wallust/colors-rofi.rasi
rofi/.config/rofi/themes/matugen.rasinc
nvim/.config/nvim/lazy-lock.json
kitty/.config/kitty/wallust.conf
zed/.config/zed/themes/matugen.json
