/zsh/.oh-my-zsh
.idea
*__pycache__
hyprland/.config/hypr/colors/
hyprland/.config/hypr/current_wallpaper
hyprland/.config/waybar/colors/
rofi/.config/rofi/wallust/colors-rofi.rasi
rofi/.config/rofi/themes/matugen.rasinc
nvim/.config/nvim/lazy-lock.json
